<p *ngIf = "!(Posts$ | async)" >Loading...</p>
<mat-accordion>
    
        <mat-expansion-panel *ngFor = "let post of Posts$| async">
     
           <mat-expansion-panel-header>
     
             <mat-panel-title>
             {{post.title}} 
     
             </mat-panel-title>
     
           </mat-expansion-panel-header> 
     
            {{post.body}} 
            <button 
          mat-raised-button color="primary"
          (click)= deletePost(post.id) >delete</button>  
          <mat-card-actions>
                <button mat-button (click)="addLikes(post.id)">LIKE</button> 
                <span *ngIf="likes!=0"> {{likes}}</span>
              </mat-card-actions> 
     </mat-expansion-panel>
  </mat-accordion>