<mat-accordion>
    
           <mat-expansion-panel *ngFor = "let post of Posts$">
    
              <mat-expansion-panel-header>
        
                <mat-panel-title>
        
                  {{post.id}}  {{post.title}} 
        
                </mat-panel-title>
        
              </mat-expansion-panel-header> 
        
               {{post.body}} 
               <button 
          mat-raised-button color="primary"
          (click)= savePost(post) >save</button> 
          <h3>The Comments For This Post:</h3>
          <div *ngFor="let com of Comments$ ">
             <div *ngIf = "com.postId == post.id;other"><br> {{com.body}}</div>
          </div>  
        </mat-expansion-panel>
     </mat-accordion>